:root {
    --nav-width: 20rem;
}

html {
    line-height: 1.15;
    background: #f4f4f4;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0 0 0 var(--nav-width);
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    cursor: default;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

bx-side-nav {
    box-sizing: border-box;
    width: var(--nav-width);
    max-width: var(--nav-width);
    padding: 0 1rem;
}

bx-side-nav > * {
    margin: 1rem 0;
}

bx-side-nav > img {
    width: 60%;
    margin: 2em auto;
}

bx-table-cell.details {
    display: flex;
}

bx-table-cell.details img {
    margin: -1em 1em -1em 0;
    width: 9em;
    height: 6em;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: .25em;
}

bx-table[compact] bx-table-cell.details img {
    display: none;
}

bx-table-cell.details a {
    font-weight: 800;
    color: inherit;
}

bx-table-cell.details ul {
    font-size: .85em;
    margin: 0;
    padding: 0;
    list-style: none;
}

bx-table-cell.details ul li {
    display: inline;
}

bx-table-cell.details ul li:not(:last-of-type):after {
    content: '·';
    margin: 0 .25em;
}

dl {
    display: flex;
    margin-left: 2em;
}

dl dt {
    margin: 0 1em 0 0;
    font-weight: 100;
}

dl dd {
    margin: 0 4em 0 0;
    font-weight: 600;
}

div.gallery {
    display: flex;
    margin: 0 -.5em 0 1.5em;
}

div.gallery img {
    height: 10em;
    width: calc(100% / 6);
    object-fit: cover;
    flex-shrink: 0;
    padding: .5em;
    box-sizing: border-box;
    border-radius: .75em;
}

pre {
    margin: 0 0 0 2em;
    width: calc(100vw - var(--nav-width) - 3.75rem);
    overflow: scroll;
}

div.empty {
    margin: 7em;
}

div.empty img {
    width: 12em;
}

@supports (font-variation-settings: normal) {
    body {
        font-family: 'Inter var', sans-serif;
    }
}
