:root {
    --nav-width: 20rem;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0 0 0 var(--nav-width);
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    cursor: default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

bx-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: calc(var(--size) / -2);
    margin-left: calc(var(--size) / -2);
    width: var(--size);
    height: var(--size);
    --size: 5em;
}

bx-side-nav {
    box-sizing: border-box;
    width: var(--nav-width);
    max-width: var(--nav-width);
    padding: 0 1rem;
}

bx-side-nav > img {
    padding: 1em 4em;
}

bx-side-nav > * {
    margin: 1rem 0;
}

bx-table-cell.price {
    text-align: right;
}

bx-table-cell.name {
    display: flex;
    padding: 0;
    align-items: center;
}

bx-table-cell.name img {
    margin-right: 1em;
    width: 5em;
    height: 100%;
    object-fit: cover;
}

bx-table-cell.name a {
    font-weight: 800;
    color: inherit;
}

bx-table-cell ul {
    font-size: .85em;
    margin: 0;
    padding: 0;
    list-style: none;
}

bx-table-cell ul li {
    display: inline;
}

bx-table-cell ul li:not(:last-of-type):after {
    content: '·';
    margin: 0 .25em;
}

@supports (font-variation-settings: normal) {
    body {
        font-family: 'Inter var', sans-serif;
    }
}
